<div class="container">
  <div class="row">
    <div class="span12">
      <h4 class="section-heading">Successful Brand Projects</h4>
    </div>
    <div class="span12">
      <div id="flex-clients" class="flexslider">
        <ul class="slides">
        	<li class="item"> <%= image_tag "Abilify.jpg" %> </li>
        	<li class="item"> <%= image_tag "Alimta.jpg" %> </li>
          <li class="item"> <%= image_tag "Avastin.gif" %> </li>
          <li class="item"> <%= image_tag "Bydureon.png" %> </li>
          <li class="item"> <%= image_tag "Byetta.png" %> </li>
          <li class="item"> <%= image_tag "Clexane.gif" %> </li>
          <li class="item"> <%= image_tag "Ebixa.jpg" %> </li>
          <li class="item"> <%= image_tag "Eliquis.GIF" %> </li>
          <li class="item"> <%= image_tag "Enbrel.jpeg" %> </li>
          <li class="item"> <%= image_tag "Forxiga.jpg" %> </li>
          <li class="item"> <%= image_tag "Gardasil.jpg" %> </li>
          <li class="item"> <%= image_tag "Gleevec.png" %> </li>
          <li class="item"> <%= image_tag "Herceptin.gif" %> </li>
          <li class="item"> <%= image_tag "Humira.gif" %> </li>
          <li class="item"> <%= image_tag "Januvia.jpg" %> </li>
          <li class="item"> <%= image_tag "Jevtana.GIF" %> </li>
          <li class="item"> <%= image_tag "Kombiglyze.jpg" %> </li>
          <li class="item"> <%= image_tag "Lantus.jpg" %> </li>
          <li class="item"> <%= image_tag "Lipitor.jpg" %> </li>
          <li class="item"> <%= image_tag "Mabthera.gif" %> </li>
          <li class="item"> <%= image_tag "Multaq.gif" %> </li>
          <li class="item"> <%= image_tag "Nulojix.jpg" %> </li>
          <li class="item"> <%= image_tag "Onglyza.jpg" %> </li>
          <li class="item"> <%= image_tag "Orencia.jpg" %> </li>
          <li class="item"> <%= image_tag "Plavix.png" %> </li>
          <li class="item"> <%= image_tag "Pradaxa.jpg" %> </li>
          <li class="item"> <%= image_tag "Prevenar.jpg" %> </li>
          <li class="item"> <%= image_tag "Remicade.jpg" %> </li>
          <li class="item"> <%= image_tag "Revlimid.gif" %> </li>
          <li class="item"> <%= image_tag "Roactemra.gif" %> </li>
          <li class="item"> <%= image_tag "Rotateq.gif" %> </li>
          <li class="item"> <%= image_tag "Sprycel.gif" %> </li>
          <li class="item"> <%= image_tag "Sutent.png" %> </li>
          <li class="item"> <%= image_tag "Taxotere.gif" %> </li>
          <li class="item"> <%= image_tag "Torisel.png" %> </li>
          <li class="item"> <%= image_tag "Vytorin.jpg" %> </li>
          <li class="item"> <%= image_tag "Yervoy.gif" %> </li>
          <li class="item"> <%= image_tag "Zetia.png" %> </li>
          <li class="item"> <%= image_tag "ZOCOR.gif" %> </li>
          <li class="item"> <%= image_tag "Zostavax.png" %> </li>
          <li class="item"> <%= image_tag "Zytiga.jpg" %> </li>
        </ul>
      </div>
    </div>
  </div>
</div>