<% content_for :title, "Market Access | Pharmaceutical Market Access consulting by GalbraithWight" %>

<div class="container">

<div>

<h4>Global Market Access is the single most important determinant of commercial success for healthcare companies today, and the biggest hurdle to be overcome in the delivery of the latest advancements in care to patients</h4>

<strong> Why is Market Access important? </strong>
<p>The traditional approach to pharmaceutical sales is dead. In today’s healthcare market there are more stakeholders and moving parts than ever before. But simply having a generic Market Access strategy is no guarantee of success. In a changing global healthcare market that is more focused on cost-effectiveness than ever before, aligning your product with a continually-moving target is a real challenge. Only by understanding the needs of all the stakeholders involved in the adoption, positioning, funding and marketing of your product will you be able to develop a global Market Access strategy that genuinely improves your chances of success.</p>

<strong>How can we help?</strong>
<p>We help our customers bring their innovative new healthcare products to the patients that need them. Our goal is to reduce the risk and maximise the probability of success of your business with a global Market Access strategy that is designed to deliver.
We help our clients identify, create and communicate the optimum Market Access solution for their products, at any stage of the development and commercialisation process.
With our bespoke tools, processes and frameworks, we help our clients all over the world make informed Market Access decisions</p>
<!-- [include a link to ‘The Market Access challenges we can address section/page – see below] -->

<strong>Why GalbraithWight?</strong>
<p>GalbraithWight is widely regarded as a thought leader in Market Access, with over two decades of industry experience, a portfolio of bespoke, in-house developed tools and processes, and an enviable global network of senior Payers.
We have delivered Market Access strategies and pharmaceutical training for cross-functional teams in more than 70 countries across five continents. We have over twenty years’ experience in Market Access strategy &amp; execution, including Market Access consulting for a wide range of major healthcare companies. We are also the preferred Market Access partner for several major global pharma companies.  
GalbraithWight has also pioneered the understanding &amp; practice of the global Market Access industry with strategies such as our ten step Market Access process which is also incorporated into our <%= link_to "Brand & Launch Excellence", "/ble/services" %> and <%= link_to "Insight Market Research", "/imr/services" %> programmes.</p>

<strong>Which Market Access challenges can we address?</strong> 
<!-- [This might be better as a separate page in order to reduce the amount of copy on the main page. It is also a very long list so I would suggest categorising the questions into a number of sections if possible] -->
<p>Below are just some examples of the questions we have helped our clients to address in their global Market Access strategies:
<ul>
  <li>Which patient segments should we explore to establish our 'proof of concept' in Phase II trials?</li>
  <li>Which treatment(s) should we consider as standard of care from a Payer perspective; now, and in the future? How do we determine what is an 'emerging' standard of care?</li>
  <li>How do we design our Phase III clinical programme to meet the evidence requirements for national Payers to achieve target pricing, reimbursement and willingness to fund in target patient segments?</li>
<li>What clinical trial design will enable us to conduct network meta-analyses and multiple treatment comparisons in a robust manner?</li>
<li>How should we manage the development of sequential indications to maintain Payer support for the brand through the lifecycle as budget impact increases?</li>
<li>What price corridor should we establish to ensure both reimbursement and funding in target patient segments across multiple markets?</li>
<li>How do we demonstrate value in a value-based pricing process?</li>
<li>Which Payer customers do we need to support us at national and local level? What are their decision making criteria and how do we satisfy them?</li>
<li>How should we develop, test and communicate a robust and compelling Market Access value proposition and value messages to ensure acceptance at national, regional and local level?</li>
<li>How should we adapt the value proposition to satisfy local country requirements?</li>
<li>What approach do we adopt for the development of our Global Value Dossier to ensure affiliates receive necessary support to build their P&amp;R submissions?</li>
<li>What is the best method of economic modelling to demonstrate the value of our brand for health technology appraisal?</li>
<li>How should we train our Market Access customer-facing teams to build both their confidence and competence to deliver a compelling value proposition to achieve successful access?</li></ul></p>

<strong>Who have we helped?</strong> 
<!-- THIS MIGHT BE BEST MOVED TO A SEPARATE ‘CUSTOMERS’ PAGE -->
<p>Here are some examples of the customers we have helped in the successful planning and execution of their global Market Access strategies:
  <ul><li>Boehringer Ingelheim - GalbraithWight developed and tested the value story for Stroke Prevention in Atrial Fibrillation (SPAF)</li> 
  <!-- SOMETHING IS NOT RIGHT ABOUT THIS -->
<li>Gardasil - the use of Gardasil as the standard of care for HPV vaccinations is the first time a national HPV contract was overturned, this was due to our work on Market Access</li>
<li>Yervoy - this was the first immuno-oncology medicine to be marketed in Europe, and was a success despite the harsh economic climate</li>
<li>Lipitor - Galbraith Wight provided specific support & evidence for the ACS indication in the face of loss of exclusivity</li></ul></p>

</div>

 <div class="row">
    <div class="span12">
      <h4 class="section-heading">Successful Brand Projects</h4>
    </div>
    <div class="span12">
      <div id="flex-clients" class="flexslider">
        <ul class="slides">
        	<li class="item"> <%= image_tag "Abilify.jpeg" %> </li>
        	<li class="item"> <%= image_tag "Alimta.jpg" %> </li>
          <li class="item"> <%= image_tag "Avastin.gif" %> </li>
          <li class="item"> <%= image_tag "Bydureon.png" %> </li>
          <li class="item"> <%= image_tag "Byetta.png" %> </li>
          <li class="item"> <%= image_tag "Clexane.gif" %> </li>
          <li class="item"> <%= image_tag "Ebixa.jpg" %> </li>
          <li class="item"> <%= image_tag "Eliquis.GIF" %> </li>
          <li class="item"> <%= image_tag "Enbrel.jpeg" %> </li>
          <li class="item"> <%= image_tag "Forxiga.jpg" %> </li>
          <li class="item"> <%= image_tag "Gardasil.jpg" %> </li>
          <li class="item"> <%= image_tag "Gleevec.png" %> </li>
          <li class="item"> <%= image_tag "Herceptin.gif" %> </li>
          <li class="item"> <%= image_tag "Humira.gif" %> </li>
          <li class="item"> <%= image_tag "Januvia.jpg" %> </li>
          <li class="item"> <%= image_tag "Jevtana.GIF" %> </li>
          <li class="item"> <%= image_tag "Kombiglyze.jpg" %> </li>
          <li class="item"> <%= image_tag "Lantus.jpg" %> </li>
          <li class="item"> <%= image_tag "Lipitor.jpg" %> </li>
          <li class="item"> <%= image_tag "Mabthera.gif" %> </li>
          <li class="item"> <%= image_tag "Multaq.gif" %> </li>
          <li class="item"> <%= image_tag "Nulojix.jpg" %> </li>
          <li class="item"> <%= image_tag "Onglyza.jpg" %> </li>
          <li class="item"> <%= image_tag "Orencia.jpg" %> </li>
          <li class="item"> <%= image_tag "Plavix.png" %> </li>
          <li class="item"> <%= image_tag "Pradaxa.jpg" %> </li>
          <li class="item"> <%= image_tag "Prevenar.jpg" %> </li>
          <li class="item"> <%= image_tag "Remicade.jpg" %> </li>
          <li class="item"> <%= image_tag "Revlimid.gif" %> </li>
          <li class="item"> <%= image_tag "Roactemra.gif" %> </li>
          <li class="item"> <%= image_tag "Rotateq.gif" %> </li>
          <li class="item"> <%= image_tag "Sprycel.gif" %> </li>
          <li class="item"> <%= image_tag "Sutent.png" %> </li>
          <li class="item"> <%= image_tag "Taxotere.gif" %> </li>
          <li class="item"> <%= image_tag "Torisel.png" %> </li>
          <li class="item"> <%= image_tag "Vytorin.jpg" %> </li>
          <li class="item"> <%= image_tag "Yervoy.gif" %> </li>
          <li class="item"> <%= image_tag "Zetia.png" %> </li>
          <li class="item"> <%= image_tag "ZOCOR.gif" %> </li>
          <li class="item"> <%= image_tag "Zostavax.png" %> </li>
          <li class="item"> <%= image_tag "Zytiga.jpg" %> </li>
        </ul>
      </div>
    </div>
  </div>
</div>