<!-- <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us10.list-manage.com","uuid":"ab2741f47fd35987a4c849818","lid":"9c5b8f2998"}) })</script> -->

<div id="main" class="container">
    <!-- Carousel -->
    <div id="carousel">
      <div id="flexslider" class="flexslider">
        <ul class="slides carousel-inner">
          <li class="item" > <%= image_tag "hand_world.jpg" %>
            <div class="carousel-caption hidden-phone">
              <h4>Market Access</h4>
              <p> Global Market Access is the single most important determinant of commercial success for healthcare companies today, and the biggest hurdle to be overcome in the delivery of the latest advancements in care to patients. </p>
            </div>
          </li>
          <li class="item" > <%= image_tag "market_research.jpg" %>
            <div class="carousel-caption hidden-phone">
              <h4>Insight Market Research</h4>
              <p> Our Insight Market Research programme arms you with the knowledge and insights to launch your new brand successfully. We help our clients answer their critical Market Access questions so that risk is minimised and patients can receive the innovative new care they need as quickly as possible. </p>
            </div>
          </li>
          <li class="item" > <%= image_tag "business_strategy.jpg" %>
            <div class="carousel-caption hidden-phone">
              <h4>Brand &amp; Launch Excellence</h4>
              <p> The successful launch of any new pharmaceutical brand must take into account the critical dimensions of brand, company and market. But most importantly of all, a coherent Market Access strategy must lie at the heart of all business and brand planning. </p>
            </div>
          </li>
           <li class="item" > <%= image_tag "meeting.jpg" %>
            <div class="carousel-caption hidden-phone">
              <h4>GalbraithWight Business School</h4>
              <p> Positive reinforcement and continual learning is the key to long-term success. This is why we founded the GalbraithWight Business School, so that those working in the healthcare industry can benefit from new knowledge and skills which will continue to deliver value to their organisation long after we’ve finished our engagement with them. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- End carousel -->
    <!-- First Section -->
    <div class="row-fluid row-green">
      <div class="span4">
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      </div>
      <div class="span8">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        </blockquote>
      </div>
    </div>
    <!-- First section -->
    <!-- Second Section -->
    <div class="row-fluid">
      <div class="span4 section-box">
        <h4 class="section-heading">Market Access</h4>
        <%= image_tag "hand_world.jpg", :class => "sectionimage" %>
        <p class="home-services-description">Global Market Access is the single most important determinant of commercial success for healthcare companies today, and the biggest hurdle to be overcome in the delivery of the latest advancements in care to patients.</p>
        <p><a class="metro pull-right" href="/ma/services">View details &raquo;</a></p>
      </div>
      <!-- end span4 section-box-->
      <div class="span4 section-box">
        <h4 class="section-heading">Insight Market Research</h4>
        <%= image_tag "market_research.jpg", :class => "sectionimage" %>
        <p class="home-services-description">Our Insight Market Research programme arms you with the knowledge and insights to launch your new brand successfully. We help our clients answer their critical Market Access questions so that risk is minimised and patients can receive the innovative new care they need as quickly as possible.</p>
        <p><a class="metro pull-right" href="/imr/services">View details &raquo;</a></p>
      </div>
      <!-- end span4 section-box-->
      <div class="span4 section-box">
        <h4 class="section-heading">Brand &amp; Launch Excellence</h4>
        <%= image_tag "business_strategy.jpg", :class => "sectionimage" %>
        <p class="home-services-description">The successful launch of any new pharmaceutical brand must take into account the critical dimensions of brand, company and market. But most importantly of all, a coherent Market Access strategy must lie at the heart of all business and brand planning.</p>
        <p><a class="metro pull-right" href="/ble/services">View details &raquo;</a></p>
      </div>
      <!-- end span4 section-box-->
    </div>
    <!-- End  second section-->
    <div class="clearfix"></div>


    <!-- Latest news section -->
    <div class="container">
    <div class="row">
      <div class="span12">
        <h4 class="section-heading">Latest News</h4>
      </div>

      <% latest_articles(4).each do | article | %>
        <div class="span3 section-box">
          <h3 class="article_title"><%= article.title %></h3>
          <p class="article_text"><%= article.text.first(140) %>...</p>
          <%= link_to('read more', article_path(article)) %>

      </div>

      <% end %> 

    </div>
    <!-- End Latest news section -->


    <!-- Our Clients section -->
    <div class="container">
      <div class="row">
        <div class="span12">
          <h4 class="section-heading">Our Clients</h4>
        </div>
        <div class="span12">
          <div id="flex-clients" class="flexslider">
            <ul class="slides">
              <li class="item"> <%= image_tag "AbbVie.png" %> </li>
              <li class="item"> <%= image_tag "Astellas.png" %> </li>
              <li class="item"> <%= image_tag "AstraZeneca.png" %> </li>
              <li class="item"> <%= image_tag "Boehringer.png" %> </li>
              <li class="item"> <%= image_tag "B-MS.png" %> </li>
              <li class="item"> <%= image_tag "Celgene.png" %> </li>
              <li class="item"> <%= image_tag "Cubist.png" %> </li>
              <li class="item"> <%= image_tag "Eisai.png" %> </li>
              <li class="item"> <%= image_tag "Ferring.png" %> </li>
              <li class="item"> <%= image_tag "Gilead.png" %> </li>
              <li class="item"> <%= image_tag "GSK.png" %> </li>
              <li class="item"> <%= image_tag "Lundbeck.png" %> </li>
              <li class="item"> <%= image_tag "MerckSerono.png" %> </li>
              <li class="item"> <%= image_tag "MerckCo.png" %> </li>
              <li class="item"> <%= image_tag "Novartis.png" %> </li>
              <li class="item"> <%= image_tag "Otsuka.png" %> </li>
              <li class="item"> <%= image_tag "Pfizer.png" %> </li>
              <li class="item"> <%= image_tag "Roche.png" %> </li>
              <li class="item"> <%= image_tag "Sanofi.png" %> </li>
              <li class="item"> <%= image_tag "SPMSD.png" %> </li>
              <li class="item"> <%= image_tag "UCB.png" %> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End Our friends section -->
  </div>
  <!-- End Container -->
</div>
<!-- end main -->

<!--  javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/holder.js"></script>
<script type="text/javascript" src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<script type="text/javascript" src="js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
