<body>
	<div id="section_holder">
		<div id="about_gw_box">
			<strong> Welcome to GalbraithWight </strong>
			<div id="welcome_text">
			<%= image_tag "GW_eye.jpg", id: "eye_pic" %>

			"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
			<br><%= link_to "Find out more about GalbraithWight here", about_history_path %>
			</div>
		</div>


		<div id="login_box">
			<strong> Sign In </strong>
				<div id="small_login_form">

					<%= form_for User.new do |f| %>
						<p>
							<%= f.label :email %><br>
							<%= f.email_field :email %>
						</p>
						<p>
							<%= f.label :password %>
							<%= f.password_field :password %>
						</p>
						<p>
							<%= f.submit %>
						</p>
					<% end %>

				</div>
			<br>Not registered yet? &nbsp; <%= link_to "Sign up here.", new_user_path %>
		</div>


		<div id="latest_news_box">
		<strong> <%= link_to "Latest News", articles_path %> </strong>
			<div class="news_article">
				<div class="article_headline">
					Article 1
				</div>
				<div class="article_author">
					Author Bloggs
				</div>
				<div class="article_body">
					Lorem ipsum dolor sit amet.  Here is some more continuing text to make sure it wraps in the div as it should.  <br><%= link_to "Read more...", "/" %>  
					<!-- Read more currently set to root until I have set up this feed to take articles from actual news database -->
				</div>
			</div>
			<div class="news_article">
				<div class="article_headline">
					Article 2 
				</div>
				<div class="article_author">
					Author Bloggs
				</div>
				<div class="article_body">
					Lorem ipsum dolor sit amet
					<br><br><%= link_to "Read more...", "/" %>  
				</div>
			</div>
			<div class="news_article">
				<div class="article_headline">
					Article 3
				</div>
				<div class="article_author">
					Author Bloggs
				</div>
				<div class="article_body">
					Lorem ipsum dolor sit amet
					<br><br><%= link_to "Read more...", "/" %>  
				</div>
			</div>
		</div>


		<div id="contact_box">
			<strong> Contact Us </strong>
			<br>phone and email details and link to main contact page
		</div>

	</div>
</body>