<% content_for :title, "GalbraithWight Pharmaceutical Industry Events Calendar" %>

<% content_for :head do %>
  <meta name="description" content="Pharmaceutical events at which GalbraithWight is exhibiting, chairing, or attending as delegate." />
<% end %>

<div id="main" class="container">
<div class="row">
	<div class="span12">
		<h1 class="section-heading">Latest Pharmaceutical  Industry Events</h1>
		<p>Events at which GalbraithWight is exhibiting, chairing, or attending as delegate.</p>
	</div>
</div>

	<div class="container">
      <div class="row">
        <div class="span12">
          <div id="flex-clients" class="flexslider">
            <ul class="slides">
              <li class="item"> <%= image_tag "ISPOR.jpg" %> </li>
              <li class="item"> <%= image_tag "World_Congress.png" %> </li>
              <li class="item"> <%= image_tag "Pharma_Pricing.png" %> </li>
              <li class="item"> <%= image_tag "Pharma_Pricing_2.png" %> </li>
              <li class="item"> <%= image_tag "ASCO.jpg" %> </li>
              <li class="item"> <%= image_tag "HTAi.jpg" %> </li>
              <li class="item"> <%= image_tag "AACR.jpg" %> </li>
              <li class="item"> <%= image_tag "ESC.jpg" %> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="row">
	<% cache("google_calendar_feed", :expires_in => 1.hour) do %>
		<%= render_calendar_feed(0,7) %>
	<% end %>
</div>
</div>