<% content_for :title, "GalbraithWight Pharmaceutical Consultantcy Services | Market Access | Brand and Launch Excellence | Insight Market Research | Business School" %>

<body>
<!-- Horizontal line -->
<div id="header-line"></div>
<!-- End Horizontal line -->
<!-- main -->
<div id="main" class="container">

    <!-- Our services sections -->
    <div class="row-fluid">
      <div class="span12">
      <h4 class="section-heading">Services</h4>
        <div class="row-fluid">
          <div class="span9">
          <div class="row-fluid heading" style="background-color:#f5f5f5;">
          <div class="span7">
        <p>We help our customers bring their innovative new healthcare products to market in a range of different ways, however our services can be grouped into the following four categories, which all have a detailed understanding of Market Access at their heart.</p>
      </div>
      <div class="span5">
                <blockquote>
          <p>If you feel any of these services would add value to your organisation, do <%= link_to "get in touch", static_contact_path %></p>
        </blockquote></div>
    </div>
            <h3>Our services</h3>
            <div class="row-fluid">
              <div class="span10 prettyprint">
                <div class="span2"> <%= image_tag 'alt_favicon.png', class: "pull-left" %> </div>
                <div class="span10">
                  <h5><%= link_to "Market Access", "/ma/services" %></h5>
                  <p>Global Market Access is the single most important determinant of commercial success for healthcare companies today, and the biggest hurdle to be overcome in the delivery of the latest advancements in care to patients.</p>
                </div>
              </div>
              <div class="span10 prettyprint"style="margin-left:0px;">
                <div class="span2"> <%= image_tag 'alt_favicon.png', class: "pull-left" %> </div>
                <div class="span10">
                  <h5><%= link_to "Insight Market Research", "/imr/services" %></h5>
                  <p>Our Insight Market Research programme arms you with the knowledge and insights to launch your new brand successfully. We help our clients answer their critical Market Access questions so that risk is minimised and patients can receive the innovative new care they need as quickly as possible.</p>
                </div>
              </div>
              <div class="span10 prettyprint"style="margin-left:0px;">
                <div class="span2"> <%= image_tag 'alt_favicon.png', class: "pull-left" %> </div>
                <div class="span10">
                  <h5><%= link_to "Brand & Launch Excellence", "/ble/services" %></h5>
                  <p>The successful launch of any new pharmaceutical brand must take into account the critical dimensions of brand, company and market. But most importantly of all, a coherent Market Access strategy must lie at the heart of all business and brand planning.</p>
                </div>
              </div>
              <div class="span10 prettyprint"style="margin-left:0px;">
                <div class="span2"> <%= image_tag 'alt_favicon.png', class: "pull-left" %> </div>
                <div class="span10">
                  <h5><%= link_to "GalbraithWight Business School", "/bussch/services" %></h5>
                  <p>Positive reinforcement and continual learning is the key to long-term success. This is why we founded the GalbraithWight Business School, so that those working in the healthcare industry can benefit from new knowledge and skills which will continue to deliver value to their organisation long after we’ve finished our engagement with them.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="span3">
          <h5>Client Testimonials</h5>
            <div class="testimonials">
            <p>"Overall training that changes behaviour. Gold standard. ... I can truly and honestly recommend all concerned as professional, trustworthy and highly skilled."" <br /><i class="pull-right testimonials-name">Gerry Thompson, Head of Dermatology, Emerging Markets Asia pacific - GSK
            </i></p>
            </div>
            <hr/>
            <div class="testimonials">
            <p>“The training days were dynamic, energetic and fun to be a part of, and most of all productive in increasing our capability in this area.”
            <br /><i class="pull-right testimonials-name">Rosemarie Delaney, Associate Director, Market Access - Sanofi Pasteur MSD</i></p>
            </div>
            <hr/>
            <div class="testimonials">
            <p>“All people who I spoke to found the sessions very engaging and educational.  They seemed to be the right balance of information and discussion that allowed for deeper learning and engagement.”
            <br /><i class="pull-right testimonials-name">BMS Training Delegate 2013</i></p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <!-- end section Our services section -->

</div>
<!-- end main -->

<!--  javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="js/jquery-1.8.3.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/holder.js"></script>
<script type="text/javascript" src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="js/lightbox.js"></script>
<script type="text/javascript" src="js/jquery.backgroundpos.js"></script>
<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>
