<% content_for :title, "About GalbraithWight the Pharmaceutical Market Access Consultancy" %>

<% content_for :head do %>
  <meta name="description" content="GalbraithWight is a specialist global market access consultancy that helps healthcare companies  successfully commercialise their products." />
<% end %>

<!-- main -->
<div id="main" class="container">
  <!-- West End Test -->
  <!-- mission section -->
  <div class="row mission-section">
    <div class="span8">
      <h1>About GalbraithWight</h1>
      <h4>“At GalbraithWight we are passionate about improving the way the global healthcare industry commercialises its brands, in order to improve the lives of patients while creating real value for our clients. <br />
      If you want to fully optimise your Market Access strategy, up-skill your team or simply feel that your activities could benefit from a fresh perspective, do please get in touch. We’d be delighted to explore how we might be able to add value to your organisation.”
”</h4><h5>Colin Wight, Chief Executive</h5> <br />
      <h2>Our Vision</h2>
      <h4>Our mission is to help healthcare companies improve lives and create value through the successful commercialisation of their products</h4>
      <p>GalbraithWight is a specialist global market access consultancy. Our team of expert practitioners design and deliver consulting and training solutions for the global healthcare industry. We deliver tailored solutions in three key areas; <%= link_to "Market Access", "/ma/services" %>, <%= link_to "Brand & Launch Excellence", "/ble/services" %>, and <%= link_to "Insight Market Research", "/imr/services" %>.
      We help our customers bring their innovative new healthcare products to the patients that need them. Our goal for our customers is to reduce risk and maximise the probability of success with a Market Access strategy that is designed specifically for them.
      We help our clients identify, create and communicate the optimum Market Access solution for their products, at any stage of the development and commercialisation process.</p>
      <br />
    </div>
    <div class="span4 ">
      <div class="eyepic">
        <%= image_tag 'GW_eye.jpg' %>
      </div>
    </div>
    <div class="span12">
      <h3 class="asStrong">What makes GalbraithWight different?</h3>
      <p><ul>
        <li>Market Access is the single most important determinant of commercial success for pharma companies. If you’re not focusing on Market Access at every stage of the development lifecycle, you risk derailing your project and failing before you’ve even launched. This is why a detailed understanding of Market Access lies at the heart of every service we deliver.</li>
        <li>With consultants based in Europe, US and Asia Pacific, we have a wide geographical range of experience and expertise for local, regional and national Payer organisations.</li>
        <li>Our team of consultants is among the most experienced ever assembled at a consultancy in this sector, including global and strategic marketers, market researchers, NHS affairs experts, academics, health economists, pharmacists, NHS executives, clinicians and training specialists – all with extensive ‘hands-on’ experience.</li>
      </ul>
      </p>
    </div>
    
    
  </div>
  <!-- End mission section -->
  
  <!-- Information section -->
  <div class="container information hidden-phone">
    <div class="row">
      <div class="span12">
        <h3 style="color:#2B4E72;">“Market Access is the single most important determinant of commercial success”</h3>
        <p><a class="metro" href="/static/serviceset">Our Services</a></p>
      </div>
    </div>
  </div>
  <!-- end Information section -->
  
  <!-- Meet The Team section -->
  <div class="container our-team">
    <div class="row">
      <div class="span12">
        <h2>Meet The Team</h2>
        <p>Our team of consultants is among the most experienced ever assembled at a consultancy in this sector. Everyone at GalbraithWight is dedicated to delivering a Market Access strategy that delivers real value to your organisation and ultimately improves patient care.</p>

        <h4>Senior Management</h4>
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail team-member">
            <figure><%= image_tag "Colin Wight.jpg", class: "img-polaroid" %></figure>
            <span class="text-info member-name">Colin Wight</span>
            <h5 class="section-heading" style="height: 20px;" >CEO</h5>
            <p class="team-role-description"></p>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail team-member">
          <figure><%= image_tag "Mary Skeels (2).jpg", class: "img-polaroid" %></figure>
          <span class="text-info member-name">Mary Skeels</span>
          <h5 class="section-heading" style="height: 20px;" >General Manager</h5>
          <p class="team-role-description"></p>
        </div>
      </li>
      </ul>
      <ul class="thumbnails">
      <h4>Consultants</h4>
      <li class="span4">
        <div class="thumbnail team-member">
        <figure><%= image_tag "Mark Boyden.jpg", class: "img-polaroid" %></figure>
        <span class="text-info member-name">Mark Boyden</span>
        <h5 class="section-heading" style="height: 20px;" >Principal Consultant</h5>
        <p class="team-role-description"></p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail team-member">
      <figure><%= image_tag "Jackie Briggs.jpg", class: "img-polaroid" %></figure>
      <span class="text-info member-name">Jackie Briggs</span>
      <h5 class="section-heading" style="height: 20px;" >Principal Consultant</h5>
      <p class="team-role-description"></p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail team-member">
    <figure><%= image_tag "Julia Clarke.JPG", class: "img-polaroid" %></figure>
    <span class="text-info member-name">Julia Clarke</span>
    <h5 class="section-heading" style="height: 20px;" >Senior Consultant</h5>
    <p class="team-role-description"></p>
  </div>
</li>
<li class="span4">
  <div class="thumbnail team-member">
  <figure><%= image_tag "Glenda Crawford.jpg", class: "img-polaroid" %></figure>
  <span class="text-info member-name">Glenda Crawford</span>
  <h5 class="section-heading" style="height: 20px;" >Senior Consultant</h5>
  <p class="team-role-description">Asia Pacific - Australia</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "olivia guillot-paul.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Olivia Guillot-Paul</span>
<h5 class="section-heading" style="height: 20px;" >Senior Consultant</h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Nicky Hall.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Nicky Hall</span>
<h5 class="section-heading" style="height: 20px;" >Principal Consultant</h5>
<p class="team-role-description">USA</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Laura Harris.JPG", class: "img-polaroid" %></figure>
<span class="text-info member-name">Laura Harris</span>
<h5 class="section-heading" style="height: 20px;" >Principal Consultant</h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Cathy Jordan.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Cathy Jordan</span>
<h5 class="section-heading" style="height: 20px;" >Senior Consultant</h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Lori Katz.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Lori Katz</span>
<h5 class="section-heading" style="height: 20px;" >Senior Consultant &amp; Project Manager</h5>
<p class="team-role-description">USA</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "KathyKelley.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Kathy Kelley</span>
<h5 class="section-heading" style="height: 20px;" >Senior Consultant</h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "IlsuLabat-Camy.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Ilsu Labat-Camy</span>
<h5 class="section-heading" style="height: 20px;" >European Account Manager</h5>
<p class="team-role-description"></p>
</div>
</li>

<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Trudie Loveridge.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Trudie Loveridge</span>
<h5 class="section-heading" style="height: 20px;" >Principal Consultant</h5>
<p class="team-role-description"></p>
</div>
</li>

<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "SteveMazzarese.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Steve Mazzarese</span>
<h5 class="section-heading" style="height: 20px;" >Global Director of Business Development, <i>Launch Excellence – Product Launch Planning &amp; Strategy</i></h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Tanea Neville.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Tanea Neville</span>
<h5 class="section-heading" style="height: 20px;" >Principal Consultant</h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Carlotta Pellegrini New.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Carlotta Pellegrini</span>
<h5 class="section-heading" style="height: 20px;" >Brand Excellence Director</h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Emma Rawlins.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Emma Rawlins</span>
<h5 class="section-heading" style="height: 20px;" >Principal Consultant</h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Taufi Ryder.PNG", class: "img-polaroid" %></figure>
<span class="text-info member-name">Taufi Ryder</span>
<h5 class="section-heading" style="height: 20px;" >Principal Consultant</h5>
<p class="team-role-description">USA</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Jane Thomas.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Jane Thomas</span>
<h5 class="section-heading" style="height: 20px;" >Senior Consultant</h5>
<p class="team-role-description">Asia Pacific - China</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Andrea.jpeg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Andrea Schatke</span>
<h5 class="section-heading" style="height: 20px;" >Senior Consultant</h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Janet Waters 1.JPG", class: "img-polaroid" %></figure>
<span class="text-info member-name">Janet Waters</span>
<h5 class="section-heading" style="height: 20px;" >Principal Consultant</h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Eric Wery photo.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Eric Wery</span>
<h5 class="section-heading" style="height: 20px;" >Senior Consultant</h5>
<p class="team-role-description"></p>
</div>
</li>
</ul>
<h4>Support Team</h4>
<ul class="thumbnails">
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Mel Dearing.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Melanie Dearing</span>
<h5 class="section-heading" style="height: 20px;" >Personal Assistant to the CEO</h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "JulieGreen.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Julie Green</span>
<h5 class="section-heading" style="height: 20px;" >Personal Assistant to the CEO</h5>
<p class="team-role-description"></p>
</div>
</li>

<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Lisa.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Lisa Edwards</span>
<h5 class="section-heading" style="height: 20px;" >Financial Controller and Office Manager</h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Jacqui Allistone.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Jacqui Marwood</span>
<h5 class="section-heading" style="height: 20px;" >Accounts and Project Analyst</h5>
<p class="team-role-description"></p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><%= image_tag "Fiona Warren.jpg", class: "img-polaroid" %></figure>
<span class="text-info member-name">Fiona Warren</span>
<h5 class="section-heading" style="height: 20px;" >Finance &amp; Administrative Assistant</h5>
<p class="team-role-description"></p>
</div>
</li>
</ul>
<!-- end team section -->
</div>
</div>
</div>
<!-- Meet The Team section -->
</div>
<!-- end container -->
</div>
<!-- end main -->
