 <!-- header -->
  <!-- CANDDi https://www.canddi.com/privacy --> <script type="text/javascript" src="//cdns.canddi.com/p/47cdf6edcd9aad50584c2809e03dde89.js"></script> <noscript style='position: absolute; left: -10px;'><img src='https://i.canddi.com/i.gif?A=47cdf6edcd9aad50584c2809e03dde89'/></noscript> <!-- /END CANDDi -->             
  <div id="header">
    <!-- Logo and slogan -->
    <div id="brand">
      <div id="logo" class="brand">
      	<%= link_to (image_tag "GW_logo_rethinking.png", :class => "gwlogorethinking"), "/" %>
      </div>
      <div id="slogan" class="hidden-phone">Global Market Access</div>
    </div>
    <!-- End Logo and slogan -->
    <!-- desktop menu -->
    <div id="top-menu-horizontal">
      <ul class="nav pull-right hidden-phone hidden-tablet">
      	<li> <%= link_to "Home", "/" %> </li>
      	<li> <%= link_to "Services", static_serviceset_path %> </li>
        <li> <%= link_to "Events",  events_index_path  %> </li>
        <li> <%= link_to "News", news_path %> </li>
        <li> <%= link_to "About Us", about_overview_path %> </li>
      	<li> <%= link_to "Contact Us", contacts_path %> </li>
      </ul>
    </div>
    <!-- end desktop menu -->
  </div>
  <!-- end header -->
  <div class="container">
    <!-- Menu for tablet and phone-->

    <div class="navbar navbar-inverse hidden-desktop row">
      <div class="navbar-inner span12">
        <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class=" icon-chevron-down"></span> </a>
          <div class="nav-collapse collapse">
            <div id="top-menu-horizontal">
              <ul class="dropdown-menu">
                <li> <%= link_to "Home", "/" %> </li>
                <li> <%= link_to "Services", static_serviceset_path %> </li>
                <li> <%= link_to "Events",  events_index_path  %> </li>
                <li> <%= link_to "News", news_path %> </li>
                <li> <%= link_to "About Us", about_overview_path %> </li>
                <li> <%= link_to "Contact Us", contacts_path %> </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End  menu tablet and phone-->
