 <!-- header -->
  <div id="header">
    <!-- Logo and slogan -->
    <div id="brand">
      <div id="logo" class="brand">
      	<%= link_to (image_tag "GW_logo_rethinking.png", :class => "gwlogorethinking"), "/" %>
      </div>
      <div id="slogan" class="hidden-phone">Global Market Access</div>
    </div>
    <!-- End Logo and slogan -->
    <!-- desktop menu -->
    <div id="top-menu-horizontal">
      <ul class="nav pull-right hidden-phone hidden-tablet">
      	<li> <%= link_to "Home", "/" %> </li>
      	<li> <%= link_to "Services", static_serviceset_path %> </li>
        <li> <%= link_to "Events",  events_index_path  %> </li>
        <li> <%= link_to "News", articles_path %> </li>
        <li> <%= link_to "About Us", about_overview_path %> </li>
      	<li> <%= link_to "Contact Us", static_contact_path %> </li>
      </ul>
    </div>
    <!-- end desktop menu -->
  </div>
  <!-- end header -->
  <div class="container">
    <!-- Menu for tablet and phone-->
    <div class="navbar navbar-inverse hidden-desktop row">
      <div class="navbar-inner span12">
        <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class=" icon-chevron-down"></span> </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="services.html">Services</a></li>
              <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Features</a>
                <ul class="dropdown-menu">
                  <li><a href="FAQ.html">Faq</a></li>
                  <li><a href="typography.html">Typography</a></li>
                  <li class="divider"></li>
                  <li><a href="pricing-table.html">Pricing table</a></li>
                </ul>
              </li>
              <li class="active"><a href="about.html">About us</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End  menu tablet and phone-->
